config device
        option name 'br-lan'
        option type 'bridge'
        list ports 'eth1'
        list ports 'eth2.1035'

config interface 'lan'
        option device 'br-lan'
        option proto 'static'
        option ipaddr '192.168.1.1'
        option netmask '255.255.255.0'
        option ip6assign '60'

config device
        option type '8021q'
        option ifname 'eth2'
        option vid '1035'
        option name 'eth2.1035'